@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<main>
    <section>
        <h2>Welcome to Zero Hunger</h2>
        <p>This app provides a platform for different restaurants, individuals, or NGOs to cooperate by distributing leftovers to the poor and needy people. It helps in reducing the wastage of food by providing it to the deserving ones.</p>
    </section>
    <section>
        <h2>Getting Started</h2>
        <p>Our application is extremely easy to download. All you have to do is click on the links below:</p>
        <ul>
            <li><a href="https://hunger.dedezigners.com/">Website</a></li>
            <li><a href="https://drive.google.com/file/d/1gVf_xSiV-siezIM9mvt4YCHW4UGYyokn/view">APK File</a></li>
        </ul>
    </section>
    <section>
        <h2>Objectives</h2>
        <ol>
            <li>No Food Wastage: By providing a platform to different restaurants and NGOs, this app helps in reducing food wastage by providing it to deserving people.</li>
            <li>Become a Savior: The death rate caused by hunger is increasing rapidly. You can lend a helping hand by becoming a part of this platform.</li>
            <li>Save the Future: Our future is shaped by young generations, sadly many of our young generations die because of hunger. We can stop it by using this platform.</li>
        </ol>
    </section>
    <section>
        <h2>Use Case</h2>
        <img src="use_case.png" alt="Use Case Image">
    </section>
    <section>
        <h2>Features</h2>
        <ol>
            <li>Ease in registration: Our one-click registration function provides convenience to users in the registration process, making registration easier and faster than ever before.</li>
            <li>Easy to use: Our app provides a user-friendly environment. Even a normal person with minimal or no prior knowledge of this app can learn to use it easily.</li>
            <li>Request for food: NGOs, old age homes, and orphanages can post requests for food as per their needs or requirements.</li>
            <li>View food requests: Restaurants can view food requests posted by different NGOs, old age homes, or orphanages, etc.</li>
            <li>Approve food request: The restaurant can approve requests as per their capability.</li>
            <li>Request approval notification: The NGO, old age home, or orphanage shall receive a notification if their request is approved by a restaurant.</li>
            <li>Post food donations: Restaurants can donate food by posting it in donations.</li>
            <li>View food donations: NGOs, old age homes, and orphanages can view food donations.</li>
            <li>Donation approval notification: The restaurant shall receive a notification if their donation is accepted by an NGO, old age home, or orphanage, etc.</li>
            <li>Accept food donation: NGO, old age home, or orphanage can accept food donation as per their needs and requirements.</li>
        </ol>
    </section>
    <section>
        <h2>Installing</h2>
        <p>After the zip file has been downloaded, simply extract it and install the apk file provided inside. Please enable installation from unknown sources if required.</p>
    </section>
    <section>
        <h2>Deployment</h2>
        <p>Share the apk file to the user and ask him/her to install the package.</p>
    </section>
    <section>
        <h2>Built With</h2>
        <p>This project was built using:</p>
        <ul>
            <li>Flutter - The GUI framework used</li>
            <li>Dart - Programming language used</li>
            <li>Android Studio - Used to build this app</li>
            <li>PHP - To write APIs</li>
            <li>Laravel - For the website</li>
        </ul>
    </section>
    <section>
        <h2>Authors</h2>
        <p>This project was created by:</p>
        <ul>
            <li>Sharjeel Ali - jeeali</li>
            <li>Atif Ibraheem - dedezigners</li>
            <li>Akash M Shahzad - Akash-128</li>
        </ul>
    </section>
    <section>
        <h2>License</h2>
        <p>This project is licensed under the MIT License - see the <a href="LICENSE.md">LICENSE.md</a> file for details.</p>
    </section>
    <section>
        <h2>Acknowledgments</h2>
        <p>Inspiration: <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-2-zero-hunger.html">UNDP - Goal 2: Zero Hunger</a></p>
    </section>
</main>